.Calculator {
    background-color: silver;
    ;
}

.CalculatorScreen {
    margin: 0 auto;
}

.CalculatorScreenTop {
    margin: 0 auto;
}

.CalculatorScreenBottom {
    margin: 0 auto;
}

.buttonRow {
    justify-content: space-evenly;
}

#calculatorBody {
    height: 100%;
    width: 100%;
    max-width: 400px;
  
}

.buttons {
    display: inline-block;
    padding: 20px;
    margin: 5px auto;
    width: 21%;

} 
#input {
    border: 2px
    padding:
}
