#pageTitle {
    width: 320px;
    height: 40px;
    margin: 0 auto;
    top: 20px;
    bottom: 10px;
    position: relative;
}

h1 {
    color: rgb(234 142 10 / 47%);
    margin: 0 auto;
    text-align: center;
}

body {
    background-color: black;
    z-index: -1;
    position:relative;
}

#calculatorBG {
    width: 1000px;
    height: 660px;
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url('./calcbackground.jpg');
    z-index: 1;
    position: relative;
    margin: 20px auto; 
}
#calculatorBody {
    width: 320px;
    height: 620px;
    background-color: silver;
    margin: 0 auto;
    top: 20px;
    position: relative;
    border-radius: 5px;
    box-shadow: 0px 0px 8px 4px rgb(234 142 10 / 47%), 0 0px 10px 10px rgb(234 177 10 / 44%);
}
#spacer {
    height: 10px;
}
#screen {
    margin: 0 10px;
    height: 120px;
    background-color: #ececec;
    border-radius: 5px;
    border-style: inset;

}

#calculatorButtons {
    height: 480px;
    margin-top: 5px;
}

#calculatorScreenTop {
    text-align: right;
    height: 20px;
    margin: 10px 5px;
    padding-top: 10px;
    font-size: 15px;
    color: rgb(82, 82, 82);
}
#calculatorScreenBottom {
    text-align: right;
    height: 40px;
    margin: 10px 6px;
    padding: 10px 0;
    font-size: 20px;
    color: rgb(0 0 0);
}

.operatorCal, .operatorNum, .operatorEnter, .operatorP, .operatorPM, .num {
    width: 60px;
    height: 60px;
    margin: 10px;
    float: left;
    border-radius: 25%;
    font-weight: bold;
    font-size: 20px;
}

.operatorPM, .operatorEnter, .operatorNum, .operatorP, .operatorCal {
    background-color: rgb(201, 188, 180);
}

.operatorNum {
    background-color: rgba(201, 188, 180, 0.884);
}

.operatorCal:disabled, .operatorEnter:disabled, .operatorP:disabled, .operatorPM:disabled, .operatorNum:disabled {
    background-color: red;
}
