body {
    background-color: black;
    z-index: -1;
    position:relative;
}

content {
    width: 1000px;
    height: 550px;
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url('./calcbackground.jpg');
    margin: 20px auto; 
}
#calculatorBody {
    width: 320px;
    height: 520px;
    background-color: silver;
    margin: 0 auto;
    top: 20px;
    position: relative;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);   
}

#screen {
    height: 120px;
}

#calculatorButtons {
    height: 400px;
}

#calculatorScreenTop {
    text-align: right;
    height: 20px;
    margin: 0 20px;
    padding-top: 20px;
    font-size: 15px;
    color: rgb(82, 82, 82);
}
#calculatorScreenBottom {
    text-align: right;
    height: 60px;
    margin: 10px 20px;
    padding-top: 20px;
    font-size: 20px;
    color: rgb(82, 82, 82);
}

.operatorCal, .operatorNum, .operatorEnter, .operatorP, .operatorPM, .num {
    width: 50px;
    height: 50px;
    margin: 15px;
    float: left;
    border-radius: 25%;
    font-weight: bold;
    font-size: 15px;
}

