.Calculator {
    background-color: silver;
    ;
}

#calculatorBody {
    height: 100%;
    width: 100%;
    max-width: 400px;
    display: flex;
    justify-content: center;    
}

.buttons {
    padding: 20px;
    margin: 10px auto;
    width: 21%;

} 

#calculatorScreen